**/data/

.DS_store
.vscode
.idea
*.iml

*.pyc

*.tsv

*.log
*.pickle
*.tab
*.tab.gz
*.tsv
*.tsv.gz
*.bed
*.bed.gz
*.bed.bgz
*.tbi
*.gff3
*.gff3.gz

*.aside
*.bam
*.bai
*.gff
*.gff3
*.gtf

seqr*.json

*.RDS